.month-view-container {
  padding: 0 20px 20px 20px;
}

.month-view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}